
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/dist/bootstrap-vue.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  .nav-item {
      img {
          padding-bottom: 3px;
      }
  }
}

.photo-edit {
    .card {
        height: 100%;
    }
    .col-md-6,.col-md-12 {
        padding: 3px;
    }
    .search {
        margin-bottom: 3px;
    }
}
